h1, h2, h3, h4, h5, h6, p, a, header, footer, ul, li {
	font-family: 'Permanent Marker', cursive;
	color: #4E4E56;
}

body {
	background-image:url('crossword.png');
}

h1 {
	font-size: 30px;
}

div {
	margin-left: 5%;
}

nav {
	/*position: absolute;*/
	width: 100%;
}

nav ul {
	padding: 16px 0;
	text-align: center;
}

nav ul li {
	display: inline;
	margin-right: 60px;
}

nav ul li:last-of-type {
	margin-right: 0;
}

footer {
	position:absolute;
	bottom: 0;
	width:100%;
	text-align: center;
}

a {
	  text-decoration: none;
}
li > a:hover {
	color: #AA0114;
}

li > a {
	-o-transition:.5s ease-in-out;
  -ms-transition:.5s ease-in-out;
  -moz-transition:.5s ease-in-out;
  -webkit-transition:.5s ease-in-out;
}

header {
	text-align: center;
	margin-bottom: 16px;
	font-size: 3em;
	/* rem is relative to the body, not the parent */
}


input {
	font-family: 'Permanent Marker', cursive !important;
	font-size: 24px !important;
	border: none !important;
	border-bottom: 1px solid goldenrod !important;
	background: transparent !important;
}
input:focus {
	outline: none;
}


.list {
	font-size: 20px
}

 button, input, select, textarea {
 	font-size: 100%;
 	font-family: inherit;
 }


/*
black: #4E4E56;
red: #DA635D;
bage: #DCD0C0;
maroon: B1938B;
*/